@using Ecommerce.Models.ViewModel
@model List<HienThiDanhMucHSX>
<div>
    @foreach (var item in Model)
    {
        <a href="~/Customers/Home/DienThoaiTheoDanhMuc?mahangsx=@item.iMaHangSX" style="display:inline; margin: 0 5px 0px 5px">@item.sTenHangSX | </a> 
    }
</div>