@using Ecommerce.Models.ViewModel
@model List<HienThiSanPham>

@foreach (var item in Model)
{
    <article class="single_product">
        <figure>

            <div class="product_thumb">
                <a class="primary_img" href="product-countdown.html"><img src="~/Assets/Customers/img/HinhAnhSanPham/@item.sAnhBia" alt=""></a>
                <a class="secondary_img" href="product-countdown.html"><img src="~/Assets/Customers/img/HinhAnhSanPham/@item.sAnhBia" alt=""></a>
                <div class="label_product">
                    <span class="label_sale">Sale</span>
                </div>
                <div class="action_links">
                    <ul>
                        <li class="wishlist"><a href="wishlist.html" data-tippy-placement="top" data-tippy-arrow="true" data-tippy-inertia="true" data-tippy="Add to Wishlist"><i class="ion-android-favorite-outline"></i></a></li>
                        <li class="compare"><a href="#" data-tippy-placement="top" data-tippy-arrow="true" data-tippy-inertia="true" data-tippy="Add to Compare"><i class="ion-ios-settings-strong"></i></a></li>
                        <li class="quick_button"><a href="#" data-tippy-placement="top" data-tippy-arrow="true" data-tippy-inertia="true" data-bs-toggle="modal" data-bs-target="#modal_box" data-tippy="quick view"><i class="ion-ios-search-strong"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="product_content">
                <div class="product_content_inner">
                    <h4 class="product_name"><a href="product-countdown.html">@item.sTenSanPham</a></h4>
                    <div class="price_box">
                        <span class="old_price">@item.dGiaGoc</span>
                        <span class="current_price">@string.Format("{0:n0}", @item.dGiaBan) VND</span>
                    </div>
                    <div class="countdown_text">
                        <p><span>Hurry Up!</span> Offers ends in: </p>
                    </div>
                    <div class="product_timing">
                        <div data-countdown="2021/12/15"></div>
                    </div>
                </div>
                <div class="add_to_cart">
                    <a href="cart.html" title="Add to cart">Add to cart</a>
                </div>

            </div>
        </figure>
    </article>
}



