
@{
    ViewBag.Title = "Tạo tài Khoản Thành CÔng";
    Layout = "~/Areas/Customers/Views/Shared/_LayoutDetails.cshtml";
}

<h2></h2>

<div class="container" style="background: #F5F5F9">
    <div class="row">
        <div class="col-12">
            <div class="error_form">
                <h2>Đăng Kí Thành Công</h2>
                <a href="/Customers/Home/Index">TIẾP TỤC MUA SẮM</a>
            </div>
        </div>
    </div>
</div>