
@{
    ViewBag.Title = "Error - Giỏ hàng trống";
    Layout = "~/Areas/Customers/Views/Shared/_LayoutDetails.cshtml";
}
<div class="container" style="background: #F5F5F9">
    <div class="row">
        <div class="col-12">
            <div class="error_form">
                <h2>GIỎ HÀNG CỦA BẠN ĐANG TRỐNG</h2>
                <a href="/Customers/Home/Index">TIẾP TỤC MUA SẮM</a>
            </div>
        </div>
    </div>
</div>