@using Ecommerce.Models
@model IEnumerable<DonHang>


<h3>Đơn Hàng Của Bạn Đã Hủy</h3>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Mã Đơn Hàng</th>
                <th>Ngày Đặt</th>
                <th>Trạng thái</th>
                <th>Thanh Toan</th>
                <th>Tổng Tiền</th>
                <th>Thao Tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MaDonHang</td>
                    <td>@item.NgayDat</td>
                    @switch (item.TrangThai)
                    {
                        case 0:
                            <td>Chờ Xác Nhận</td>
                            break;
                        case 1:
                            <td>Đang Giao</td>
                            break;
                        case 2:
                            <td>Đã Giao</td>
                            break;
                        case 4:
                            <td>Đã Hủy</td>
                            break;
                        default:
                            <td>Chờ Xử Lý</td>
                            break;
                    }
                    @switch (item.TrangThaiThanhToan)
                    {
                        case 0:
                            <td>Chưa Thanh Toán</td>
                            break;
                        case 1:
                            <td>Đã Thanh Toán</td>
                            break;
                    }
                    <td>@String.Format("{0:0,0}", item.TongTien) vnđ</td>
                    <td>
                        @Html.ActionLink("Chi Tiết", "XemChiTietDonHangDaMua", "Order", new { @iMaDonHang = item.MaDonHang }, null)
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>


