
@{
    ViewBag.Title = "Quyên Mật Khẩu";
    Layout = "~/Areas/Customers/Views/Shared/_LayoutDetails.cshtml";
}

<!-- #region Login and regist -->
<div class="login_page_bg">
    <div class="container">
        <div class="customer_login">
            <div class="row">
                <!--login area start-->
                <div class="col-lg-6 col-md-6">
                    <div class="account_form login">
                        <h2>LẤY LẠI MẬT KHẨU</h2>
                        <div>
                            @using (Ajax.BeginForm("ResetPassword", "DangNhap", new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ThongBao" }))
                            {
                                <p>
                                    <label>Email <span>*</span></label>
                                    <input type="email" placeholder="Nhập Email của bạn" name="Email">
                                </p>
                                <div class="ThongBao" id="ThongBao">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                                </div>
                                <div class="login_submit" id="ThongBao">
                                    <button type="submit">Lấy Lại Mật Khẩu</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <!--login area start-->
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
